<%= javascript_include_tag 'index' %>
<script>
var cities_in_state_hash = <%= raw(@cities_in_state_hash.to_json) %>;
</script>

<h2>Search For Your Traveling Plan</h2>

<%= form_tag suggestion_path(), :method => :get do %>
  <%= label :travel_plan, :state, 'State*', :class => 'col-form-label' %>
  <%= select :travel_plan, :state, @states, {:prompt => "--- Select State ---"}, :multiple => false, :onchange => "change_stops()", :class => 'form-control col-3' %>
  <%= label :travel_plan, :cities, "Stop (select multiple using Ctrl and Shift)", :class => 'col-form-label' %>
  <%= select :travel_plan, :cities, [], {}, {:multiple => true, :class => 'form-control col-3'} %>
  <%= label :travel_plan, :days, 'Number of Traveling Days*', :class => 'col-form-label' %>
  <%= select :travel_plan, :days, @num_of_traveling_days, {} , :class => 'form-control col-1' %>
  <br/>
  <%= submit_tag 'Search', :class => 'btn btn-primary' %>
  <%= link_to 'Clear', search_path, :class => 'btn btn-secondary' %>
<% end %>

