<h2>Select Your Traveling Plan:</h2>

<br/>

<h3>Suggestion: Chill</h3>
<table class="table table-striped col-md-12" id="suggestion1">
  <thead>
    <tr>
      <th>Attraction</th>
      <th>Stops</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @suggestions[0].schedule_by_day.each do |day| %>
      <% day.each do |time, attraction| %>
        <tr>
          <td>
            <%= attraction.name %>
          </td>
          <td>
            <%= attraction.city %>
          </td>
          <td>
            <%= attraction.rating %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Customize', customize_path({:suggestion_type => 0}), :id => "suggestion_0_Customize", :class => 'btn btn-primary' %>
<br/>

<br/>

<h3>Suggestion: Hustle</h3>
<table class="table table-striped col-md-12" id="suggestion2">
  <thead>
    <tr>
      <th>Attraction</th>
      <th>Stops</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @suggestions[1].schedule_by_day.each do |day| %>
      <% day.each do |time, attraction| %>
        <tr>
          <td>
            <%= attraction.name %>
          </td>
          <td>
            <%= attraction.city %>
          </td>
          <td>
            <%= attraction.rating %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Customize', customize_path({:suggestion_type => 1}), :id => "suggestion_1_Customize", :class => 'btn btn-primary' %>

<div class="row">
  <!-- <%= link_to 'Regenerate travel plans', suggestion_path, :class => 'btn btn-primary col-4' %> -->
  <%= link_to 'Back to search', search_path, :class => 'btn btn-secondary col-2' , :style =>'margin-top:20px; margin-left:14px ' %>
</div>

<br/>