<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Trapplar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script>
      function change_stops() {
        var state = document.getElementById("travel_plan_state").value;
        var cities = <%= raw(@cities_in_state_hash.to_json) %>[state];
        console.log(cities)
        var stops = document.getElementById("travel_plan_cities");
        stops.innerHTML = "";
        if (typeof cities !== 'undefined') {
          for (var i = 0; i < cities.length; i++) {
            var opt = document.createElement("option");
            opt.value = cities[i];
            opt.innerHTML = cities[i];
            stops.appendChild(opt);
          }
        }
      }
    </script>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1 class="title">Trapplar</h1>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
